@import "variables.module";

nav {
    overflow: hidden;
    position: fixed;
    bottom: 1%;
    left: 5%;

    width: 90%;
    height: 7%;
    margin: 0;
    padding: 2% 0;
    z-index: 2;
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    background-color: $bottomNavColor;

    .navButton {
        display: flex;
        flex: auto;
        background-color: transparent;
        border: none;
        justify-content: center;
        align-items: center;
        > * {
            flex: auto;
        }
    }
}

@media (min-width: $tablet-width) {
    
    nav{
        width: 30%;
        left: 65%;
        
    }
}

@media (min-width: $desktop-width){
    
} 