@import "navbar";
@import "post";
@import "header";


body {
    > div {
        margin-top: var(--headerHeight);
    }
    font-family: Garamond;
    padding-bottom: 10vh;
}

.fullScreenText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.TryAgainButton{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    padding: 2% 3%;
    background-color: $mainColor;
    color: white;
    font-weight: bold;
}

@media (min-width: $tablet-width) {
    
    body {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (min-width: $desktop-width) {
    body {
        margin-left:  auto;
        margin-right: auto;
        max-width: 800px;
        width: calc(100vw - var(--headerHeight)*2);
    }
    // main{
    //     width: 1000px;

    // }
}
