@import "navbar";
@import "post";
@import "header";

body {
    > div {
        margin-top: var(--headerHeight);
    }
    font-family: Garamond;
    padding-bottom: 10vh;
}

.loadPostFailed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (min-width: $tablet-width) {
    body {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (min-width: $desktop-width) {
    body {
        margin-left: 16px;
        margin-right: 16px;
    }
}
